/* Learn html main starts here  */
#learn-html-control {
  width: 100%;
}

#learn-html-main {
  width: 100%;
  margin: 0 auto;
  background-color: #1d2a35;
  color: white;
}
/* Learn html main ends here  */
