/* Reset code starts here  */

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}

/* Reset code ends here  */

/* Universal/Common code starts here */

/* Universal/Common code ends here */

/* Header starts here  */

#logoImage__control {
  max-width: 3.6rem;
  height: auto;
}
/* Header ends here  */

/* Main section starts here */
#mainSection__control {
  min-height: 100vh;
}
/* Main section ends here */

/* Footer section starts here */
#footer__control {
  overflow: hidden;
}
/* Footer section ends here */

/* Discussion section starts here */
#discussion__main-control {
  min-height: 100vh;
  background-color: #f2f5f7;
}
.discussion__section {
  width: 90%;
}
#discussion__select-control {
  width: 300px;
}
#discussion__card-right__logo-control {
  height: 3rem;
  width: auto;
}
/* Discussion section ends here */
