/* Reset code starts here  */

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}

/* Reset code ends here  */

/* Universal/Common code starts here */

/* Universal/Common code ends here */

/* Header starts here  */

#logoImage__control {
  max-width: 3.6rem;
  height: auto;
}

/* Header ends here  */

/* Conver starts here  */
#cover__control {
  width: 100%;
  min-height: 80vh;

  background-image: url(/images/cover__photo.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#cover-main-control {
  width: 60%;
  margin: 0 auto;
  height: auto;
}

.cover-main-heading {
  font-size: 2.6rem;
  font-weight: bolder;

  font-style: italic;
  font-family: Truculenta;
}
/* Conver cnds here  */

/* Main section starts here */
#mainSection__control {
  background-color: #f2f5f7;
}

#get__guides-control {
  width: 90%;
  margin: 0 auto;
}
/* Main section ends here */

/* Discussion section starts here */
/* #discussion__main-control {
  min-height: 100vh;
  background-color: #f2f5f7;
}
.discussion__section {
  width: 90%;
}
#discussion__select-control {
  width: 300px;
}
#discussion__card-right__logo-control {
  height: 3rem;
  width: auto;
} */

/* @media only screen and (min-width: 1199px) {
  #get__guide-hidden {
    display: none;
  }
} */

/* Discussion section ends here */

/* Getguide lower starts here  */

#get__guide-lower {
  width: 100%;
  background-color: #ffffff;
}

#get__guide-lower-title-control {
  max-width: 600px;
  margin: 0 auto;
}

#get__guide-lower-main {
  width: 80%;
  margin: 0 auto;
}

.get__guide-card-height-control {
  min-height: 440px; /* overflow-y: auto; */
}
.get__guide-big-card-img-control {
}
/* Getguide lower ends here  */

/*  Community overview starts here    */
#community-overview {
  width: 100%;
  background-color: #f2f5f7;
  min-height: 60vh;
}
/*   Community overview ends here     */

/* Why code upper starts here    */
#why-code-upper {
  width: 100%;
  background-color: #ffffff;
}
#why-code-main {
  width: 90%;
  margin: 0 auto;
}

.changecontent::after {
  content: ' ';
  color: #ff9900;
  font-weight: bold;

  animation: changetext 20s infinite linear;
}
@keyframes changetext {
  0% {
    content: 'Accountants';
  }
  10% {
    content: 'Designer';
  }
  20% {
    content: 'Delivery Drivers';
  }
  30% {
    content: 'Product manager';
  }
  40% {
    content: 'Baristas';
  }
  50% {
    content: 'IT Coordinators';
  }
  60% {
    content: 'Constuncion Worker';
  }
  80% {
    content: 'Web Developer';
  }
  100% {
    content: 'App Developer';
  }
}
/* Why code upper ends here   */

/* Why code section starts  here  */
#why-section-control {
  width: 100%;
  background-color: #f2f5f7;
}

#why-section-main {
  width: 90%;
  margin: 0 auto;
}

#why-card-height-control {
  min-height: 440px;
}

/* Why code section ends  here  --> */

/* Upgrade plan starts here  */

#upgrade-plan-control {
  width: 100%;
  background-color: #2d3846;
}

#upgrade-plan-main {
  width: 80%;
  margin: 0 auto;
}

#upgrade-plan-list-control {
  width: 80%;
  margin: 0 auto;
}

.upgrade-plan-main-card {
  color: white;
  /* display: flex;
  flex-direction: column;
  flex-basis: 300px; */
  border: 1px solid #6b7f99;
  padding: 1rem;
  border-radius: 10px;
  margin: 10px;
}

.upgrade-plan-btn {
  flex-basis: 360px;
  background-color: #ffa310;
  transition: all 0.4s;
}
.upgrade-plan-btn:hover {
  background-color: #ffb238;
}
/* Upgrade plan ends here  */

/* Success story starts here  */

#success-story-control {
  width: 100%;
  background-color: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;
}

#success-story-main {
  flex-basis: 486px;
  margin: 0 auto;
}

#success-story-image-control {
  height: 220px;
}

/* Success story ends here  */

/* Award starts here  */

#award-control {
  width: 100%;
  background-color: #f2f5f7;
}

#award-control-main {
  width: 70%;
  margin: 0 auto;
}

/* Award ends here  */

/* Community learner control stars here  */
#community-learner-control {
  width: 100%;
  background-color: #1f1e28;
}
.community-learner-left {
  flex-basis: 50%;
}
.community-learner-right {
  flex-basis: 50%;
}

.community-form-control {
  max-width: 440px;
}
/* Community learner control stars here  */

/* Go-Pro section starts here  */

.go-pro-body-control {
  background-color: #000a23;
}

.go-pro-color {
  color: #8a909d;
}
.go-pro-section-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin: 20px;
  gap: 1rem;
  color: white;
}

.go-pro-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.go-pro-card {
  text-align: center;
  flex-basis: 300px;
  height: 500px;
  margin: 1rem;
  background-color: #15213b;
  color: white;
  border-radius: 10px;
  transition: all 0.6s;
}

.go-pro-card:hover {
  transform: scale(1.01);
}
.go-pro-card-header {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
  height: 150px;
  gap: 10px;
}

.go-pro-card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.go-pro-card-body ul {
  width: 240px;
}
.go-pro-card-body ul li {
  margin: 20px 0;
  text-align: left;
}
#go-pro-card-full {
  border: 1px solid #ffa310;

  box-shadow: -1px -1px #ffa310;
}

.go-pro-card-footer {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.go-pro {
  text-transform: uppercase;
  background-color: #ffa310;
  color: black;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 20px;
}

.go-pro-btn-free {
  background-color: transparent;
  font-size: 1rem;
  padding: 4px 10px;
  border: none;
  color: white;
}

.go-pro-btn-anual {
  background-color: #ffa310;
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 10px 10px;
  border: none;
  color: black;
}
.go-pro-btn-montly {
  background-color: #15213b;
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 10px 10px;
  border: 1px solid #ffa310;
  color: #ffa310;
  width: 80%;
}

.go-pro-btn-montly:hover {
  background-color: white;
  color: black;
}

@media (max-width: 600px) {
  .go-pro-section-heading h2 {
    font-size: 1rem;
  }
  .go-pro-card:last-child {
    order: 1;
  }

  .go-pro-card:first-child {
    order: 2;
  }
}

/* Go-Pro section ends here  */

/* Footer section starts here */
#footer__control {
  overflow: hidden;
  background-color: #18171d;
}
/* Footer section ends here */
